.sidenav{
    height: 100%;
    color: white;
    background-color: rgba(17, 0, 77, 0.699);
    background-image: url('./dashboard-bg.jpg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}
body{
    font-family: 'Oswald', sans-serif;
}
.css-1v5u2yv{
    height: 100%;
}

.back-to-home-btn{
    border: none;
    background-color: transparent;
    color: white;
    transition: color .5s;
}
.back-to-home-btn:hover{
    color: #ff8771;
}

.side-nav-common{
    text-decoration: none;
    color: white;
    cursor:pointer;
    transition: all .5s;
}
.side-nav-common:hover{
    color: #ff8771;
}
.side-nav-active{
    color: gold;
    letter-spacing: 1.3px;
    transition: all .5s;
}
.side-nav-active:hover{
    color: rgb(137, 137, 255);
}
