.footer{
    background: #222222;
    color: white;
    position: absolute;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
}

/* footer links */
.footer-link{
    cursor: pointer;
    letter-spacing: .5px;
    transition: all .5s;
    margin: 2px 10px;
    position: relative;
    left: 0px;
}
.footer-link:hover{
    animation: slide; 
    animation-duration: .6s;
    animation-fill-mode: forwards; 
}
/* social icons */
.footer-social{
    font-size: 1rem;
}
.footer-social i{
    cursor: pointer;
    padding: 0px 5px;
    transition: all .5s;
    font-size: 1.3rem;
    position: relative;
    left: 0px;
}
.footer-social i:hover{
    color: gold;
}
@keyframes slide {
    from{
        left: 0;
    }
    to{
        left: 3px;
        color: gold;
    }
}