.review-bg{
    background-color: #555555;
    background-image: url('./review-bg.webp');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

/* overriding slick theme css */
.slick-prev, .slick-next{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .3s;
}
.slick-prev::before, .slick-next::before{
    color: black;
    font-size: 20px;
    transition: all .3s;
}
.slick-prev:hover , .slick-next:hover{
    background-color: #070707;
}
.slick-prev:hover:before, .slick-next:hover:before{
    color: #E3FFD1;
}